<h1>Hola mundo</h1>
<h2>{{'Hola mundo '.repeat(2)}}</h2>
<p>{{name}}</p>  
<!-- Interpolación de propiedades -->
<hr>

<!-- Property binding: manipula propiedades nativas de html desde Typescript [property] = "valueFromTS" -->
<button [disabled]="buttonDisabled">Enviar</button>
<input type="text" [value]="inputValue">
<progress max="100" [value]="progressValue"></progress>
<hr>

<!-- Event binding: manipula eventos nativos de html desde Typescript (event)="functionFromTS()" -->
<!-- Click Event -->
<button (click)="onClick()">Enviar</button>

<!-- Input Event -->
<p>Nombre: </p>
<input type="text" (input)="onInput($event)"> <!-- $event forma nativa de enviar eventos a TS -->

<!-- Scroll Event-->
<div class="box" (scroll)="onScroll($event)"> 
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere dignissimos nisi facilis! Labore, numquam expedita itaque obcaecati adipisci quae sunt, praesentium necessitatibus minus illo ab saepe, hic delectus iure! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim porro aperiam, eos aspernatur eius adipisci voluptatum veniam fuga est rem odio illum quae voluptatibus. Atque quasi accusamus recusandae obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<hr>

<!-- ngModel: valida el valor de name sin necesidad de crear un metodo que se escuche en un evento-->
<input type="text" required #nameInput="ngModel" [(ngModel)]="name">
<p>Valid: {{nameInput.valid}}</p>

